In [0]:
import pandas as pd
import requests
import bs4
from bs4 import BeautifulSoup
from requests_oauthlib import OAuth1

In [0]:
auth_params = {
    'app_key':'DdKKMDnqhxYDgAS1KyyR3FQJL',
    'app_secret':'7BYKOLA1JHLcRqNQe3aBaofXLGScCYH0AgiFOmMURwgv3aoYgN',
    'oauth_token':'1114574275489476608-2T6ZUF22mlGvKtHj1EQa5I4J2VhwTh',
    'oauth_token_secret':'e3S4B4qf00kQ634GnL7ut33Luxly5eBNxpOns6sL9kqC7'
}

# Creating an OAuth Client connection
auth = OAuth1 (
    auth_params['app_key'],
    auth_params['app_secret'],
    auth_params['oauth_token'],
    auth_params['oauth_token_secret']
)

In [0]:
# url according to twitter API
url_rest = "https://api.twitter.com/1.1/search/tweets.json"

# getting rid of retweets in the extraction results and filtering all replies to the tweet often uncessary for the analysis
q = '%@midasIIITD -filter:retweets -filter:replies' # Twitter handle of Amazon India

# count : no of tweets to be retrieved per one call and parameters according to twitter API
params = {'q': q, 'lang': 'en',  'result_type': 'recent'}
results = requests.get(url_rest, params=params, auth=auth)

In [0]:
results = results.json()

In [0]:
results

In [15]:
results.keys()

dict_keys(['statuses', 'search_metadata'])

In [0]:
results['statuses']

In [20]:
results['statuses'][0].keys()

dict_keys(['created_at', 'id', 'id_str', 'text', 'truncated', 'entities', 'metadata', 'source', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'retweet_count', 'favorite_count', 'favorited', 'retweeted', 'possibly_sensitive', 'lang'])

In [29]:
results['statuses'][0]['created_at']

'Mon Apr 08 07:08:12 +0000 2019'

In [30]:
date = results['statuses'][0]['created_at'][:11]
date = date+results['statuses'][0]['created_at'][-4:]
date

'Mon Apr 08 2019'

In [35]:
time = results['statuses'][0]['created_at'][11:-5]
time

'07:08:12 +0000'

In [38]:
results['statuses'][0]['text']

'Many Congratulations to @midasIIITD student, Shagun Uppal @shagunuppls, on getting selected for the summer internshâ€¦ https://t.co/bzhiSm4zuB'

In [45]:
for i in range(len(results['statuses'])):
  print(results['statuses'][i]['favorite_count'])

13
0
1
5
4
6
7
11
8
5
7

In [46]:
for i in range(len(results['statuses'])):
  print(results['statuses'][i]['retweet_count'])

2
0
1
2
1
1
1
1
1
1
2

In [0]:
all_rows = []
for i in range(len(results['statuses'])):
  row = []
  row.append(results['statuses'][i]['text'])
  date = results['statuses'][i]['created_at'][:11]
  date = date+results['statuses'][i]['created_at'][-4:]
  row.append(date)
  time = results['statuses'][i]['created_at'][11:-5]
  row.append(time)
  row.append(results['statuses'][i]['favorite_count'])
  row.append(results['statuses'][i]['retweet_count'])
  x = results['statuses'][i]['entities'].keys()
  if 'media' in x:
    row.append(results['statuses'][i]['entities']['media'])
  else:
    row.append(None)
  all_rows.append(row)

data = pd.DataFrame(all_rows,columns = ['tweet_text','Date','Time','Likes','Retweets','images'])

In [51]:
data

,tweet_text,Date,Time,Likes,Retweets,images
0,"Many Congratulations to @midasIIITD student, S...",Mon Apr 08 2019,07:08:12 +0000,13,2,None
1,My twitter developer account is taking time to...,Sun Apr 07 2019,13:45:58 +0000,0,0,None
2,We request all students whose interview are sc...,Sun Apr 07 2019,11:43:24 +0000,1,1,None
3,"Other queries: ""none of the Tweeter Apis give ...",Sun Apr 07 2019,06:55:19 +0000,5,2,None
4,"Other queries: ""do we have to make two differe...",Sun Apr 07 2019,06:53:38 +0000,4,1,None
5,"Other queries: ""If using Twitter api, it does ...",Sun Apr 07 2019,05:32:27 +0000,6,1,None
6,Response to some queries asked by students on ...,Sun Apr 07 2019,05:29:40 +0000,7,1,None
7,We have emailed the task details to all candid...,Fri Apr 05 2019,16:08:37 +0000,11,1,None
8,Dear @midasIIITD internship candidates who hav...,Tue Apr 02 2019,04:20:13 +0000,8,1,None
9,Looking forward to your paper submission to @I...,Tue Apr 02 2019,02:44:54 +0000,5,1,None
10,Online application for https://t.co/DJFDrQsHZP...,Mon Apr 01 2019,06:53:08 +0000,7,2,None